# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: MacOS folder attribute files
.DS_Store

# Optional: Windows folder attribute files
Thumbs.db

# Optional: VSCode directory
.vscode/

# Build output directory
/build
